@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&family=IBM+Plex+Serif:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');

@theme {
  --font-serif: "IBM Plex Serif", Georgia, serif;
  --font-sans: "Be Vietnam Pro", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}
